/* src/pages/AboutWhoWeAre.css */
.who-we-are-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.about-values-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.about-image {
  max-width: 50%;
  height: auto;
  display: block;
  float: left;
  margin: 0px 10px;
  border-radius: 2%;
}
p{
  text-align: justify;
}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    width: 100%;
    color: #C19A6B;
    font-weight: 600;
}
h4 {
    text-shadow: 1px 1px #c19A6B;
}