/* src/pages/WordPressHosting.css */

.section-container.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.feature-card {
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.accordion-button:not(.collapsed) {
    color: #fff;
    /* WordPress Blue */
    background-color: #00729B; 
}

.use-case-item {
    padding: 1.5rem;
    border-left: 4px solid #00729B;
    height: 100%;
}

.use-case-item h5 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}


.feature-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feature-icon-top {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000000; /* WordPress Blue */
    width: 60px;
    height: 60px;
    background-color: #eaf6fa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Add these styles for the new security section */

.security-feature-item {
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    height: 100%;
    text-align: center;
}

.security-feature-icon {
    font-size: 1.5rem;
    color: #000000; /* WordPress Blue */
    width: 100px;
    height: 100px;
    line-height: 60px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto 1rem auto;
}

.security-feature-item h5 {
    font-weight: bold;
    margin-bottom: 0.75rem;
}
.text-primary {
    --bs-text-opacity: 1;
    color: #a5835a !important;
    /* float: right; */
    padding: 10px;
    font-size: 80px;
    /* text-align: center!important; */
}
i.fas.fa-6x.text-primary {
    font-size: 200px;
}
.use-case-item {
    padding: 1.5rem;
    border-left: 4px solid #c19a6b;
    height: 100%;
}
.fas {
   /* font-size: 2.5em; */
    color: #C19A6B;
    margin-bottom: 0;

}

.text-primary {
    --bs-text-opacity: 1;
    color: #a5835a !important;
}